go 1.26

use (
	./_example/cache_redis_test
	./_example/db_sqlite_test
	./_example/demo
	./_example/enjoy_test
	./_example/kafka_test
	./aifei
	./cache
	./config
	./db
	./enjoy
	./generator
	./go-http
	./json
	./kafka
	./log
	./nacos
	./nami
	./server
	./storage
	./swagger
)
