go 1.26

use (
	./_test/cache_test
	./_test/db_test
	./_test/demo
	./_test/enjoy_test
	./_test/kafka_test
	./aifei
	./config
	./dami
	./db
	./enjoy
	./http
	./json
	./log
	./nami
	./plugins/cache
	./plugins/dami
	./plugins/elasticsearch
	./plugins/kafka
	./plugins/nacos
	./plugins/storage
	./plugins/swagger
	./plugins/xxljob
	./server
	./tools/damigen
	./tools/generator
)
