go 1.26

use (
	./_example/cache_redis_test
	./_example/db_sqlite_test
	./_example/demo
	./_example/enjoy_test
	./_example/kafka_test
	./aifei
	./config
	./db
	./dami
	./enjoy
	./tools/generator
	./tools/damigen
	./http
	./json
	./log
	./nami
	./server
	./plugins/cache
	./plugins/dami
	./plugins/kafka
	./plugins/nacos
	./plugins/storage
	./plugins/swagger
)
